button{
    width: 450px;
    height: 180px;
    border-radius: 10px;
    background: rgba(51,94,179,0.5);
    padding:1.5rem, 2.5rem;
    margin:2rem;
}
button:hover{
    background: rgba(255,255,255,0.5);
    border-color: rgba(51,94,179,0.5);

}
@media (max-width: 768px) {
    button{
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
}
.rotate-hor-center{-webkit-animation:rotate-hor-center 3s cubic-bezier(.455,.03,.515,.955) both;animation:rotate-hor-center 3s cubic-bezier(.455,.03,.515,.955) both}
@-webkit-keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}@keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}

.rotate-center{-webkit-animation:rotate-center 3.4s ease-in-out both;animation:rotate-center 3.4s ease-in-out both}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(720deg);transform:rotate(720deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(720deg);transform:rotate(720deg)}}